<h1>Greetings <%= @doctor.full_name %></h1>
<hr />

<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3>Your Appointment List</h3>
      <ul>
        <% @doctor.appointments.each do |a| %>
        <li>
            <%= a.patient.full_name %> | <%= a.visit_type %> | <%= a.date %> 
            <br />
            <h6>
              <%= button_to  "Delete Appointment", doctor_appointment_path(@doctor, a), method: :delete %>
            </h6>
          </li>
          <% end%>
      </ul>
      </div>
      <div class="col-sm">
        <h3>Patient List</h3>
        <ul>
          <%# @patients.each do |p| %>
          <li>
            <%# p.full_name %>
          </li>
          <%#end%>
        </ul>
      </div>
    </div>
    <%= link_to  "View Appointments", doctor_appointments_path(@doctor) %>
    <%= button_to  "Delete this Doctor", doctor_path(@doctor), method: :delete, class: "btn btn-primary" %>

  </div>